
<div class="container bg-light d-flex border border-dark-subtle rounded">
        
  <div class="container ">
     <main>
        <div class="d-flex">
            <h2>Job Title</h2>
            <i class="bi bi-recycle"></i>
            <i class="bi bi-trash-fill"></i>
        </div>
      <h4>Job role</h4>

      <div>
          <p class="fw-light">
              <i class="bi bi-geo-alt-fill"></i>Location
          </p>
          <p class="fw-light">
              <i class="bi bi-geo-alt-fill"></i>Salary
          </p>
          <p class="fw-light">
              <i class="bi bi-geo-alt-fill"></i>Apply date
          </p>
          <p class="fw-light">\
            f
              <i class="bi bi-geo-alt-fill"></i>Number Of Openings
          </p>
          <p class="fw-light">
              <i class="bi bi-geo-alt-fill"></i>Applicants
          </p>
          
          <button class="btn btn-sm btn-outline-info">Skills</button>
      </div> 

      <div>
          <div class="btn btn-primary">Apply Now</div>
      </div>
      <div>
          <div class="btn btn-success">Posted On</div>
      </div>
     </main>
      
  </div>

</div>    